* {
    margin: 0;
    padding: 0;
  
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #1b262c;
    font-size: 20px;
    padding: 10px;
    color: white;
  }
  
  header {
    text-align: center;
    background-color: #3282b8;
    color: white;
    padding: 10px;
  }
  
  footer {
    text-align: center;
    background-color: #3282b8;
    color: white;
    padding: 10px;
    clear: left;
  }
  
  aside {
    background-color: #0f4c75;
    margin: 10px;
    padding: 10px;
    width: 25%;
    float: left;
    border: solid  2px ;
  }

  aside h3 {
    color: #bbe1fa
  }
  
  main {
    width: 70%;
    float: left;
    clear: right;
  }
  
  #corazon {
    color: red;
    font-size-adjust: 25px;
  }
  
  h1,
  h2,
  h3,
  p {
    padding: 15px;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #0f4c75;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #bbe1fa;
    color: #1b262c;
  }
  
  img {
    max-width: 100%;
  }
  
  .tarjeta {
    border: solid 1px #333333;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  figcaption {    
    text-align: left;
    font-size: 15px;
  }

  table {
    width: 100%;
    background-color: #0f4c75;
  }
  
  table,
  th,
  td {
    border: 1px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 15px;
    text-align: center;
  }
  
  table th {
    background-color: #3282b8;
    color: white;
  }

  a {
    text-decoration: none;
    color: #bbe1fa;
  }
  
  a:hover {
    color: #0f4c75;
  }